<div
  id="ircpipe-root"
  data-app-mode="landing"
  data-developer-oauth={if(IrcpipeWeb.Auth.DevStrategy.enabled?(), do: "true", else: "false")}
  data-current-user={
    if @current_scope do
      Jason.encode!(%{
        id: @current_scope.user.id,
        email: @current_scope.user.email,
        message_retention_days: @current_scope.user.message_retention_days
      })
    end
  }
>
</div>
