<div
  id="topics-club-root"
  data-app-mode="chat"
  data-developer-oauth={if(TopicsClubWeb.Auth.DevStrategy.enabled?(), do: "true", else: "false")}
  data-current-user={
    Jason.encode!(%{
      id: @current_scope.user.id,
      email: @current_scope.user.email,
      message_retention_days: @current_scope.user.message_retention_days
    })
  }
>
</div>
