<div
  id="ircpipe-root"
  data-app-mode="chat"
  data-developer-oauth={Application.get_env(:ueberauth, Ueberauth)[:providers][:developer] != nil}
  data-current-user={
    Jason.encode!(%{
      id: @current_scope.user.id,
      email: @current_scope.user.email,
      message_retention_days: @current_scope.user.message_retention_days
    })
  }
>
</div>
