@import "tailwindcss" source(none);
@import "generative-loaders/styles.css";
@import "./theme.css";
@source "../js";

@plugin "../vendor/heroicons";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body {
  background: var(--app-canvas);
  color: var(--color-slate-100);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
